<div class="container">
    <div class="row">
        <div class="col-6">
            <button type="button" style="float:right;" class="btn btn-primary">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                Record screen
            </button>
        </div>
        <div class="col-6" onclick="window.location.href='/room/{{uuid}}'">
            <button type="button" class="btn btn-success">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                Video call
            </button>
        </div>
    </div>
</div>